/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* FONTS */

/* raleway-300 - latin_cyrillic */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/raleway-v27-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v27-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v27-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v27-latin_cyrillic-300.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-500 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v27-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v27-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v27-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v27-latin_cyrillic-500.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-700 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v27-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v27-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v27-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v27-latin_cyrillic-700.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-900 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/raleway-v27-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v27-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v27-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v27-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v27-latin_cyrillic-900.svg#Raleway') format('svg'); /* Legacy iOS */
  }



/* START MAIN STYLE */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: #f7f8f9;

    font-family: 'Raleway' ;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: black;
}

.container {
    min-width: 1800px;
    height: 900px;

}

.block {
    display: block;
    height: 100%;
    background-color: white;
    box-shadow: 0 5px 45px rgb(0 0 0 / 20%);
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

.block_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 45px rgb(0 0 0 / 30%);
    background-color: #d33220;
}

.logo_pic {
    width: 100px;
}

.block_header--btn {
    display: flex;
    flex-wrap: wrap;
}

.btn--log_out, .btn--stud, .btn--hostel, .btn--set {
    color: white;
    font-weight: 400;
}

.btn--log_out {
    margin-right: 70px;
}

.btn--set {
    margin-right: 60px;
}

.btn--hostel {
    margin-right: 500px;
}

.btn--stud {
    margin-right: 60px;
}

.btn--stud, .btn--hostel {
    padding: 9px;
    font-family: 'Raleway';
    font-style: normal;
}

.btn--stud:after {
    content: "";
    display: block;
    left: 0;
    width: 0%;
	height: 3px;
    background-color: white;
    transition: width .3s ease-out;
}

.btn--stud:hover:after, .btn--stud:focus:after {
    width: 100%;
}

.btn--hostel::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width .3s ease-out;
}

.btn--hostel:hover::after, .btn--hostel:focus::after {
    width: 100%;
}

.btn--stud:hover, .btn--hostel:hover, .btn--log_out:hover, .btn--set:hover {
    opacity: .6;
    transition: .3s all;
}

.block_table {
    height: 600px;
    padding: 0 10px;
    font-variant-numeric: lining-nums;
    font-weight: 500;
    overflow-x: auto;
}

.mtb {
    margin-top: 3rem;
    margin-bottom: 20px;
}

.table--stud {
    display: none;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}


.table--stud input, .table--hostel input, .table--hostel select, .table--stud select {
    font-variant-numeric: lining-nums;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway' ;
    font-style: normal;
    line-height: 1.2;
}

.stud_col2 {
    width: 30px;
}

.stud_col4 {
    width: 80px;
}

.stud_col5 {
    width: 150px;
}

.stud_col6 {
    width: 90px;
}

.stud_col7 {
    width: 130px;
}

.stud_col8 {
    width: 120px;
}

.stud_col9 {
    width: 150px;
}

.stud_col10 {
    width: 100px;
}

.stud_col11 {
    width: 130px;
}


.table th, table td {
    text-align: center;
    padding: 10px;
}

.table--stud th, .table--hostel th {
    background-color: #ff0000;
    color: white;
}

.table--stud th:nth-child(odd), .table--hostel th:nth-child(odd) {
    background-color: rgb(202, 0, 0);
}

.table--stud tr:nth-child(even), .table--hostel tr:nth-child(even) {
    background-color: rgb(226, 226, 226);
    
}

.table--stud tr, .table--hostel tr {
    transition: .3s all;
}

.table--stud tr:hover, .table--stud tr:focus, .table--hostel tr:hover, .table--hostel:focus {
    background-color: #ccc;     
}

.table--stud td:not(:last-child), .table--hostel td:not(:last-child) {
    border-right: 1px solid #ccc;
}



.table--hostel {
    /* display: none; */
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.hostel_col2 {
    width: 20px;
}

.hostel_col4 {
    width: 100px;
}

.hostel_col5 {
    width: 70px;
}

.hostel_col6 {
    width: 140px;
}

.hostel_col8 {
    width: 100px;
}

.hostel_col9 {
    width: 125px;
}

.hostel_col10 {
    width: 80px;
}

.hostel_col11, .hostel_col12, .hostel_col13, .hostel_col14 {
    width: 100px;
}

.hostel_col15 {
    width: 120px;
}

.hostel_col16 {
    width: 100px;
}

.hostel_col17 {
    width: 120px;
}

.btn_table--plus {
    margin-left: 120px;
}

.btn_table--minus {
    margin-left: 30px;
}

.btn_table--plus:hover, .btn_table--minus:hover {
    transition: .4s all;
    opacity: .5;
}



/* END MAIN STYLE */